body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
}

.container-wrapper {
  width: 1280px;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

a {
  text-decoration: none;
}

.visually-hidden {
  display: none;
}

.main-navigation {
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

.main-navigation-list {
  list-style: none;
}

.main-navigation-list a {
  color: #000000;
}

.main-navigation-list a:visited {
  color: #766357;
}

.main-navigation-list a:hover {
  color: #81b3d2;
}

.main-navigation-list a:active {
  color: rgba(0, 0, 0, 0.3)
}

.features {
  list-style: none;
}

.main-features-title {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  font-weight: 700;
  background-color: #ffffff;
}

.main-features-review {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  font-weight: 400;
}

.feature-list-infra {
  list-style: none;
}

.features-item-title {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  color: #000000;
}

.features-item-text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-align: center;
}

.features-item-fullwidth {
  color: #ffffff;
  background-color: #81b3d2;
}

.features-item-fullwidth .features-item-title {
  color: #ffffff;
}

.features-item-fullwidth .features-item-text {
  color: #ffffff;
}

.features-item-onethird {
  background-color: #eeeeee;
}

.search-hotels {
  background-color: #ffffff;
}

.search-hotels-subtitle {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #000000;
}

.search-hotels-data {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #333333;
}

.search-form {
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.search-hotels-button {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
}

.search-hotels-button:hover {
  background-color: #604e43;
}

.search-hotels-button:focus {
  background-color: #503e33;
}

.search-hotels-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.search-hotels-input {
  font: inherit;
  background-color: #f2f2f2;
  border: none;
}

.search-hotels-input:hover {
  background-color: #ebebeb;
}

.search-hotels-input:focus {
  background-color: #ffffff;
  border: solid 2px #e5e5e5;
}

input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 26px;
  text-align: left;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  ;
}

.search-hotels-counter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.search-hotels-counter-btn {
  background-color: #a9a9a9;
}

.search-hotels-counter-btn:hover {
  background-color: #000000;
}

.search-hotels-counter-btn:focus {
  background-color: #81b3d2;
}

.search-hotels-btn {
  background-color: #cacaca;
}

.search-hotels-btn:hover {
  background-color: #000000;
}

.search-hotels-btn:focus {
  background-color: #81b3d2;
}

.button-submit {
  font-size: 21px;
  text-align: center;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
}

.button-submit:hover {
  color: #ffffff;
  background-color: #669ec0;
}

.button-submit:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.main-footer {
  width: 1200px;
  min-height: 120px;
  margin: 0 auto;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.9);
}

.footer-info {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.footer-social-list {
  list-style: none;
}

.footer-social-button {
  color: #ffffff;
  background-color: #81b3d2;
}

.footer-social-button:hover {
  color: #ffffff;
  background-color: #669ec0;
}

.footer-social-button:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.footer-copyright {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

.footer-button-htmlacademy {
  background-color: #231f20;
}

.footer-button-htmlacademy:hover {
  background-color: #81b3d2;
}

.footer-button-htmlacademy:focus {
  background-color: #bdbbbc;
}

.catalog-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #fefefe;
}

.filters {
  color: #ffffff;
  background-color: #81b3d2;
  background: url("../img/filter-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.filter fieldset {
  border: none;
}

.option-legend {
  font-size: 16px;
  line-height: 21px;
  text-align: left;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.option-list {
  list-style: none;
}

.option-label {
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
}

.range-fields-input {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0);
  border: solid 2px #ffffff;
}

input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0);
}

input:-moz-placeholder {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0);
}

.slider {
  position: relative;
  box-sizing: border-box;
  width: 220px;
  height: 32px;
  background-color: #81b3d2;
  border: solid 2px #ffffff;
  padding: 11px 20px 9px 20px;
  margin-bottom: 22px;
}

.slider-scale {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: white;
  top: calc(50% - 1px);
}

.slider-scale-selected {
  position: absolute;
  height: 100%;
  background-color: cyan;
  left: 0;
  right: 0;
}

.slider-toggle {
  position: absolute;
  top: -10px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
}

&-min {
  left: 0;
}

&-max {
  right: 0;
}

.filter-button {
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0);
  border: solid 2px #ffffff;
}

.filter-button:hover {
  font: inherit;
  color: #000000;
  background-color: rgb(255, 255, 255);
  border: solid 2px #ffffff;
}

.result-of-search {
  font-size: 21px;
  line-height: 26px;
  text-align: left;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.sorting-item-title {
  font-size: 10.5px;
  line-height: 17.5px;
  text-align: left;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

.sorting-list {
  list-style: none;
}

.sorting-item {
  font-size: 10.5px;
  line-height: 17.5px;
  text-align: left;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}

.sorting-item a {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-item a:hover {
  color: #81b3d2;
  text-decoration: none;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-item a:focus {
  color: #000000;
  text-decoration: none;
}

.sorting-item a:active {
  color: #81b3d2;
  text-decoration: none;
}

.button-dir {
  color: #cacaca;
}

.button-dir:hover {
  color: #231f20;
}

.button-dir:focus {
  color: #81b3d2;
}

.hotel-card-link, .motel-card-link, .appartment-card-link {
  font-size: 21px;
  line-height: 26px;
  text-align: left;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.hotel-card-link:hover, .motel-card-link:hover, .appartment-card-link:hover {
  color: #81b3d2;
}

.hotel-card-link:focus, .motel-card-link:focus, .appartment-card-link:focus {
  color: rgba(0, 0, 0, 0.3)
}

.hotel-card-term, .motel-card-term, .appartment-card-term {
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
}

.hotel-card-price, .motel-card-price, .appartment-card-price {
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
}

.hotel-card-btn, .motel-card-btn, .appartment-card-btn {
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.hotel-card-btn-more, .motel-card-btn-more, .appartment-card-btn-more {
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #81b3d2;
}

.hotel-card-btn-more:hover, .motel-card-btn-more:hover, .appartment-card-btn-more:hover {
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  font-weight: 700;
  color: #ffffff;
  background-color: #669ec0;
}

.hotel-card-btn-more:focus, .motel-card-btn-more:focus, .appartment-card-btn-more:focus {
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.hotel-card-btn-book, .motel-card-btn-book, .appartment-card-btn-book {
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #766357;
}

.hotel-card-btn-book:hover, .motel-card-btn-book:hover, .appartment-card-btn-book:hover {
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  font-weight: 700;
  color: #ffffff;
  background-color: #604e43;
}

.hotel-card-btn-book:focus, .motel-card-btn-book:focus, .appartment-card-btn-book:focus {
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.hotel-card-rating, .motel-card-rating, .appartment-card-rating {
  background-color: #f2f2f2;
}

.hotel-card-value, .motel-card-value, .appartment-card-value {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
  color: #666666;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

/*-------Сеточные стили--------*/

body {
  margin: 0;
  padding: 0;
  width: 1280px;
  background-color: #f2f2f2;
}

.main-header {
  display: flex;
  flex-direction: row;
  width: 1200px;
  margin: 0 auto;
  background-color: transparent;
}

.main-logo {
  width: 244px;
  height: 56px;
  background-color: #ffffff;
}

.main-navigation {
  width: 956px;
  background-color: #ffffff;
}

.main-navigation-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.main-navigation-item {
  width: 239px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}

.intro {
  width: 1200px;
  background: url("../img/background.jpg") 100% no-repeat;
  margin-bottom: 60px;
}

.main-features-title {
  margin-bottom: 33px;
}

.main-features-review {
  margin-bottom: 55px;
}

.features {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.features-item {
  width: 33.333%;
  display: flex;
  flex-direction: row;
}

.features-item-full-width {
  width: 100%;
  margin-bottom: 50px;
}

.full-width-last {
  flex-direction: row-reverse;
  margin-bottom: 0;
}

.feature-list-infra {
  display: flex;
  flex-direction: row;
}

.features-item-infra {
  width: 100%;
  margin-bottom: 24px;
}

.search-hotels-subtitle {
  margin-bottom: 26px;
}

.search-hotels-data {
  margin-bottom: 136px;
}

.search-form {
  width: 568px;
  margin-bottom: 78px;
}

.main-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-info {
  margin: 0;
  width: 240px;
  margin-left: 73px;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  width: 400px;
  margin: auto;
  :
}

.footer-copyright {
  margin: 0;
  width: 240px;
  margin-right: 73px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
}

.search-form {
  margin: 0;
  padding: 0;
}
