body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.main-container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active), input[type="checkbox"].visually-hidden, input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  width: 100%;
  background-color: #ffffff;
}

.main-navigation {
  margin: 0;
  padding: 0;
  position: relative;
  max-width: 1200px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.main-navigation-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-navigation-item {
  margin: 0;
  padding: 0;
  width: 20%;
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 15px;
}

.main-navigation-list a {
  margin: 0;
  padding: 0;
  color: #000000;
}

.main-navigation-item:first-child {
  text-align: left;
  padding-left: 72px;
}

.main-navigation-item:nth-child(2) {
  text-align: left;
  margin-right: 10%;
  padding-left: 72px;
}

.main-navigation-item:nth-child(3) {
  margin-left: 10%;
  text-align: right;
  padding-right: 72px;
}

.main-navigation-item:nth-child(4) {
  text-align: right;
  padding-right: 72px;
}

.main-navigation-item:nth-child(n+5) {
  margin-top: 10px;
}

.main-logo {
  position: absolute;
  top: 0;
  left: 50%;
  height: 72px;
  width: 140px;
  transform: translateX(-50%);
  z-index: 1;
}

.main-navigation-item-selected a {
  color: #766357;
}

.main-navigation-list a:hover {
  color: #81b3d2;
}

.main-navigation-list a:focus {
  color: rgba(0, 0, 0, 0.3)
}

.container {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}

.intro {
  display: flex;
  align-items: center;
  width: 100%;
  height: 509px;
  background-color: #ffffff;
  background-image: url("../img/intro-welcome.svg"), url("../img/intro-mask.svg"), url("../img/background.jpg");
  background-position: center, bottom, top;
  background-size: 459px 353px, auto, 100%;
  background-repeat: no-repeat;
  margin-bottom: 60px;
}

.main-features {
  margin: 0;
  padding: 0;
}

.main-features-title {
  width: 448px;
  margin: 0 auto;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  font-weight: 700;
  background-color: #ffffff;
  margin-bottom: 27px;
}

.main-features-review {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  font-weight: 400;
  margin-bottom: 49px;
}

.features {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.features-item {
  width: 33.333%;
}

.features-item-full-width {
  width: 100%;
  display: flex;
  color: #ffffff;
  background-color: #81b3d2;
}

.features-container {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 33.333%;
  padding-top: 45px;
  padding-left: 45px;
  padding-right: 50px;
  padding-bottom: 45px;
}

.features-img-container {
  max-height: 256px;
  overflow: hidden;
}

.features-item-title {
  width: 150px;
  margin: 0 auto;
  padding: 0;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  color: #000000;
  margin-bottom: 24px;
}

.features-item-text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-align: center;
}

.features-item-number {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-align: center;
  margin-bottom: 20px;
}

.features-item-row .features-container {
  padding-right: 55px;
  padding-left: 55px;
}

.feature-list-infra {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.features-item-housing {
  margin: 0;
  padding: 0;
  padding-top: 161px;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: top 60px center;
}

.features-item-food {
  margin: 0;
  padding-top: 162px;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: top 60px center;
}

.features-item-souvenir {
  margin: 0;
  padding-top: 162px;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: top 56px center;
}

.features-item-additional .features-item-title {
  margin-bottom: 23px;
}

.features-item-additional .features-item-text {
  margin-bottom: 85px;
  padding: 0 50px;
}

.features-item-full-width .features-item-title {
  color: #ffffff;
}

.features-item-full-width .features-item-text {
  color: #ffffff;
}

.features-item-full-width .features-item-number {
  color: #ffffff;
}

.features-item-reverse {
  flex-direction: row-reverse;
}

.features-item-last-row {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-top: 48px;
  padding-right: 68px;
  padding-left: 68px;
  padding-bottom: 59px;
  background-color: #eeeeee;
}

.search-hotels {
  position: relative;
  background-color: #ffffff;
  padding-top: 48px;
}

.search-hotels-wrapper {
  margin: 0 auto;
  padding: 0;
  width: 568px;
}

.search-hotels-subtitle {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #000000;
  margin-bottom: 24px;
}

.search-hotels-data {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #333333;
  margin-bottom: 48px;
}

.search-hotels-button {
  display: block;
  margin: 0;
  padding: 30px 0;
  width: 100%;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
}

.search-hotels-button:hover {
  background-color: #604e43;
}

.search-hotels-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.map-container {
  max-height: 593px;
  overflow: hidden;
}

.search-form {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 290px;
  left: 50%;
  box-sizing: border-box;
  width: 568px;
  margin-left: -284px;
  padding: 50px 55px;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
  animation-name: drop-down;
  animation-duration: 0.5s;
}

@keyframes drop-down {
  0% {
    transform: translateY(-85px);
  }
  100% {
    transform: translateY(0);
  }
}

.search-form-error {
  animation: shake 0.5s;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

.search-hotels-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.search-hotels-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: relative;
  font-size: 14px;
  line-height: 26px;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.search-hotels-input {
  box-sizing: border-box;
  width: 347px;
  padding: 7px 43px 7px 13px;
  font: inherit;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: 2px solid transparent;
  outline: none;
}

.search-hotels-input:hover {
  background-color: #ebebeb;
}

.search-hotels-input:active {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.calendar-btn {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 21px;
  height: 22px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  outline: none;
}

.calendar-btn svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 21px;
  height: 22px;
}

.calendar-btn path {
  fill: #cacaca;
}

.calendar-btn:hover path {
  fill: #000000;
}

.calendar-btn:active path {
  fill: #81b3d2;
}

.search-hotels-counter-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.search-hotels-counter-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: relative;
  width: 226px;
  font-size: 14px;
  line-height: 26px;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 55px;
}

.search-hotels-counter-item-last {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: relative;
  width: 180px;
  font-size: 14px;
  line-height: 26px;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 55px;
}

.search-hotels-counter-input {
  box-sizing: border-box;
  width: 114px;
  padding: 7px 38px 7px;
  font: inherit;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  background-color: #f2f2f2;
  border: none;
}

.search-hotels-input:hover {
  background-color: #ebebeb;
}

.search-hotels-input:focus {
  background-color: #ffffff;
  border: solid 2px #e5e5e5;
}

input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 26px;
  text-align: left;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.search-hotels-counter-input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.search-hotels-counter-btn-minus {
  position: absolute;
  top: 0;
  right: 76px;
  width: 38px;
  height: 38px;
  font-size: 14px;
  line-height: 26px;
  color: #a9a9a9;
  background-color: transparent;
  border: 0;
}

.search-hotels-counter-btn-plus {
  position: absolute;
  top: 0;
  right: 0px;
  width: 38px;
  height: 38px;
  font-size: 14;
  line-height: 26px;
  color: #a9a9a9;
  background-color: transparent;
  border: 0;
}

.search-hotels-counter-btn-minus::before {
  content: "";
  position: absolute;
  top: 18px;
  right: 13px;
  width: 12px;
  height: 3px;
  background-color: #a9a9a9;
  transform: rotate(0deg);
}

.search-hotels-counter-btn-minus:hover::before {
  background-color: #000000;
}

.search-hotels-counter-btn-minus:active::before {
  background-color: #81b3d2;
}

.search-hotels-counter-btn-plus::before, .search-hotels-counter-btn-plus::after {
  content: "";
  position: absolute;
  top: 18px;
  right: 13px;
  width: 12px;
  height: 3px;
  background-color: #a9a9a9;
}

.search-hotels-counter-btn-plus::before {
  transform: rotate(0deg);
}

.search-hotels-counter-btn-plus::after {
  transform: rotate(90deg);
}

.search-hotels-counter-btn-plus:hover::before, .search-hotels-counter-btn-plus:hover::after {
  background-color: #000000;
}

.search-hotels-counter-btn-plus:active::before, .search-hotels-counter-btn-plus:active::after {
  background-color: #81b3d2;
}

.search-hotels-counter-btn:hover {
  background-color: #000000;
}

.search-hotels-counter-btn:active {
  background-color: #81b3d2;
}

.button-submit {
  margin: 0;
  width: 100%;
  padding: 18px;
  font-size: 21px;
  text-align: center;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
}

.button-submit:hover {
  color: #ffffff;
  background-color: #669ec0;
}

.button-submit:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.js-hidden {
  display: none;
}

.main-footer {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  background-color: rgba( 255, 255, 255, 0.9);
  z-index: 1;
  bottom: 0;
}

.footer-info {
  margin: 0;
  padding: 0;
  width: 33.333%;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.footer-social-list {
  list-style: none;
  width: 33.333%;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-social-button {
  width: 46px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #ffffff;
  color: #ffffff;
  background-color: #81b3d2;
  margin-right: 5px;
}

.footer-social-button:hover {
  fill: #ffffff;
  background-color: #669ec0;
}

.footer-social-button:active {
  background-color: #5496bd;
}

.footer-social-button:active path {
  opacity: 0.3;
}

.footer-copyright {
  margin: 0;
  padding: 0;
  margin-right: auto;
  width: 33.333%;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-button-htmlacademy {
  position: relative;
  top: 5px;
  margin-left: 8px;
}

.footer-button-htmlacademy path {
  fill: #231f20;
}

.footer-button-htmlacademy:hover path {
  fill: #81b3d2;
}

.footer-button-htmlacademy:active path {
  fill: #bdbbbc;
}

.catalog-container {
  max-width: 1200px;
  min-width: 768px;
  margin: 0 auto;
  padding: 0;
  background-color: #fefefe;
}

.filters {
  box-sizing: border-box;
  width: 100%;
  color: #ffffff;
  background-image: url("../img/filter-background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #81b3d2;
  padding: 28px 74px;
}

.filter fieldset {
  border: none;
}

.filter {
  display: flex;
  flex-direction: row;
}

.option-legend {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 21px;
  text-align: left;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.option-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.option {
  margin: 0;
  padding: 0;
  padding-left: 40px;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 27px;
}

.option:last-child {
  margin-bottom: 0;
}

.option-infra {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 170px;
  margin-right: 82px;
}

.option-housing {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 170px;
}

.option-label {
  position: relative;
  display: block;
  cursor: pointer;
}

.option-input-checkbox+label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 0;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
}

.option-input-checkbox:checked+label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 0;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
}

.option-input-checkbox:hover+label::before {
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.option-input-checkbox:checked:hover+label::before {
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.option-input-checkbox:disabled+label::before {
  background-image: url("../img/checkbox-off-disabled.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.option-input-checkbox:checked:disabled+label::before {
  background-image: url("../img/checkbox-on-disabled.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-range {
  width: 30%;
  min-width: 225px;
  margin-left: auto;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  display: flex;
  position: relative;
  height: 36px;
  margin-bottom: 18px;
  font-size: 0;
  border-radius: 2px;
}

.min-price::after {
  content: "";
  top: 5px;
  right: -1px;
  height: calc(100% - 10px);
  width: 2px;
  background: white;
  position: absolute;
}

.price-controls label {
  display: block;
  position: relative;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  width: 50%;
}

.min-price, .max-price {
  display: block;
  position: relative;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  border: 2px solid white;
  width: 50%;
}

.price-controls .min-price {
  border-right: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.price-controls .max-price {
  border-left: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.price-controls output {
  max-width: 32px;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  border: 9px solid #ffffff;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 32px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.filter-button {
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0);
  border: solid 2px #ffffff;
}

.filter-button:hover {
  font: inherit;
  color: #000000;
  background-color: rgb(255, 255, 255);
  border: solid 2px #ffffff;
}

.sorting {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  border-bottom: 1px solid #e5e5e5;
  padding: 30px 73px;
}

.sorting-result {
  margin: 0;
  padding: 0;
  width: 135px;
  font-size: 21px;
  line-height: 26px;
  text-align: left;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin-right: 30px;
}

.sorting-item-title {
  margin: 0;
  padding: 0;
  font-size: 10.5px;
  line-height: 17.5px;
  text-align: left;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  margin-right: 38px;
}

.sorting-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.sorting-item {
  margin: 0;
  padding: 0;
  font-size: 10.5px;
  line-height: 17.5px;
  text-align: left;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  margin-right: 32px;
}

.sorting-list li:last-child {
  margin-right: 0;
}

.sorting-item-current {
  color: #81b3d2;
}

.sorting-dir {
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.button-dir-list {
  margin: 0;
  padding: 0;
  width: 35px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.button-dir path {
  fill: #cacaca;
}

.button-dir:hover path {
  fill: #231f20;
}

.button-dir:active path {
  fill: #81b3d2;
}

.button-dir-selected path {
  fill: #81b3d2;
}

.sorting-item a {
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-item a:hover {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-item a:active {
  color: #000000;
}

.sorting-item-selected a {
  color: #81b3d2;
}

.catalog {
  width: 100%;
}

.hotel-card {
  box-sizing: border-box;
  margin: 0;
  padding: 27px 73px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border-bottom: 1px solid #e5e5e5;
}

.hotel-card-wrapper {
  margin: 0;
  padding: 0;
}

.hotel-card-title {
  margin: 0;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
  text-align: left;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.hotel-card-link {
  margin: 0;
  padding: 0;
  color: #000000;
}

.hotel-card-link:hover {
  color: #81b3d2;
}

.hotel-card-link:active {
  color: rgba(0, 0, 0, 0.3)
}

.hotel-card-list {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.hotel-card-term {
  width: 110px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  margin-right: 6px;
}

.hotel-card-price {
  width: 142px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
}

.hotel-card-img {
  width: 135px;
  order: 1;
  margin-right: 30px;
}

.hotel-card-wrapper {
  order: 2;
}

.hotel-card-rating {
  order: 3;
  margin-left: auto;
  text-align: right;
}

.hotel-rating-img {
  margin-bottom: 43px;
}

.hotel-card-value {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
  color: #666666;
  text-transform: uppercase;
  background-color: #f2f2f2;
  padding: 6px 13px 4px;
}

.hotel-card-navigation {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.hotel-card-btn {
  box-sizing: border-box;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  padding: 3px 15px;
}

.hotel-card-btn-more {
  width: 110px;
  margin-right: 5px;
  background-color: #81b3d2;
}

.hotel-card-btn-more:hover {
  background-color: #669ec0;
}

.hotel-card-btn-more:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.hotel-card-btn-book {
  width: 142px;
  background-color: #766357;
}

.hotel-card-btn-book:hover {
  color: #ffffff;
  background-color: #604e43;
}

.hotel-card-btn-book:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.inner-page .main-footer {
  position: static;
  width: 100%;
  margin: 0 auto;
  padding: 36px 0;
  display: flex;
  align-items: center;
  background-color: rgba( 255, 255, 255, 0.9);
}
