body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: #333333;
  text-transform: uppercase;
}

.container-wrapper {
  width: 1280px;
  margin: 0 auto;
  padding: 0;
  background-color: #f2f2f2;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background-color: green;
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-header {
  width: 1200px;
  background-color: #ffffff;
}
.main-navigation {
  margin: 0;
  padding: 0;
  position: relative;
  max-width: 1200px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}
.main-navigation-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main-navigation-item {
  width: 20%;
  text-align: center;
  }
.main-navigation-list a {
  margin: 0;
  padding: 0;
  display: block;
  padding: 15px 20px;
  color: #000000;
}
.main-navigation-item:nth-child(2) {
  margin-right: 10%;
}

.main-navigation-item:nth-child(3) {
  margin-left: 10%;
}
.main-navigation-item:nth-child(n+5) {
  margin-top: 10px;
}
.main-logo {
  position: absolute;
  top: 0;
  left: 50%;
  height: 72px;
  width: 140px;
  transform: translateX(-50%);
}
.main-navigation-list a:visited {
  color: #766357;
}
.main-navigation-list a:hover {
  color: #81b3d2;
}
.main-navigation-list a:active {
  color: rgba(0, 0, 0, 0.3)
}
.container {
  width: 1200px;
  background-color: #ffffff;
}
.intro {
  width: 1200px;
  height: 509px;
  background-color: #ffffff;
  background-image: url("../img/intro-welcome.svg"), url("../img/intro-mask.svg"), url("../img/background.jpg");
  background-position: center, bottom, top;
  background-size: 459px 353px, 1200px 59px, 100%;
  background-repeat: no-repeat;
  margin-bottom: 60px;
}
.main-features-title {
  display: block;
  width: 441px;
  margin: 0 auto;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  font-weight: 700;
  background-color: #ffffff;
  margin-bottom: 31px;
}
.main-features-review {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  font-weight: 400;
  margin-bottom: 50px;
}
.features {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.features-item {
  width: 33.333%;
  display: flex;
  flex-direction: row;

  }
.features-item-full-width {
  width: 100%;
  color: #ffffff;
  background-color: #81b3d2;
}
.features-item img {
  margin: 0;
  padding: 0;
  height: 256px;
}
.features-item-row {
margin-bottom: 160px;
}
.feature-list-infra {
  list-style: none;
  margin: 0;
  padding: 0;
}
.features-item-title {
  margin: 0;
  padding: 0;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  color: #000000;
  }
.features-item-row .features-item-title {
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 46px;
  margin-right: 138px;
  margin-left: 138px;
  margin-bottom: 24px;
}
.features-item-text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-align: center;
  margin-left: 58px;
  margin-right: 58px;
  margin-bottom: 60px;
}
.features-item-number {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-align: center;
  margin-bottom: 24px;
}
.feature-list-infra {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}
.features-item-infra {
  width: 100%;
}
.features-item-infra .features-item-title {
  margin: 0;
  padding: 0;
  position: relative;
  margin-bottom: 25px;
}
.features-item-infra .features-item-text {
  margin-bottom: 84px;
}
.features-item-housing .features-item-title::before {
  content: "";
  position: absolute;
  top: -102px;
  left: 50%;
  margin-left: -37.5px;
  width: 75px;
  height: 72px;
 background-image: url("../img/icon-1.svg");
 background-repeat: no-repeat;
 background-position: 0 0;
}
.features-item-food .features-item-title::before {
  content: "";
  position: absolute;
  top: -100px;
  left: 50%;
  margin-left: -35px;
  width: 74px;
  height: 70px;
 background-image: url("../img/icon-3.svg");
 background-repeat: no-repeat;
 background-position: 0 0;
}
.features-item-souvenir .features-item-title::before {
  content: "";
  position: absolute;
  top: -105px;
  left: 50%;
  margin-left: -32px;
  width: 64px;
  height: 76px;
 background-image: url("../img/icon-2.svg");
 background-repeat: no-repeat;
 background-position: 0 0;
}
.features-item-full-width .features-item-title {
  color: #ffffff;
}
.features-item-full-width .features-item-text {
  color: #ffffff;
}
.features-item-full-width .features-item-number {
  color: #ffffff;
}
.features-item-reverse {
  flex-direction: row-reverse;
}
.features-item-reverse .features-item-title {
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 49px;
  margin-right: 123px;
  margin-left: 123px;
  margin-bottom: 25px;
}
.features-item-reverse .features-item-text {
  margin: 0;
  padding: 0;
  margin-left: 48px;
  margin-right: 49px;
  margin-bottom: 60px;
}
.features-item-last-row {
  background-color: #eeeeee;
  margin-bottom: 52px;
}
.features-item-last-row .features-item-title {
  margin-top: 50px;
  margin-right: 138px;
  margin-bottom: 24px;
  margin-left: 138px;
}
.features-item-last-row .features-item-number {
  margin-bottom: 23px;
}
.features-item-last-row .features-item-text {
  margin-right: 73px;
  margin-bottom: 61px;
  margin-left: 74px;
}
.search-hotels {
  background-color: #ffffff;
}
.search-hotels-subtitle {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #000000;
  margin-bottom: 22px;
}
.search-hotels-data {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #333333;
  margin-left: 383px;
  margin-bottom: 136px;
  margin-right: 383px;
}
/*--.search-form {
  margin: 0;
  padding: 0;
  width: 568px;
  min-height: 481px;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
}
.search-hotels-button {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
  width: 100%;
}
.search-hotels-button:hover {
  background-color: #604e43;
}
.search-hotels-button:focus {
  background-color: #503e33;
}
.search-hotels-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.search-hotels-input {
  font: inherit;
  background-color: #f2f2f2;
  border: none;
}
.search-hotels-input:hover {
  background-color: #ebebeb;
}
.search-hotels-input:focus {
  background-color: #ffffff;
  border: solid 2px #e5e5e5;
}
input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 26px;
  text-align: left;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}
.search-hotels-counter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.search-hotels-counter-btn {
  background-color: #a9a9a9;
}
.search-hotels-counter-btn:hover {
  background-color: #000000;
}
.search-hotels-counter-btn:focus {
  background-color: #81b3d2;
}
.search-hotels-btn {
  background-color: #cacaca;
}
.search-hotels-btn:hover {
  background-color: #000000;
}
.search-hotels-btn:focus {
  background-color: #81b3d2;
}
.button-submit {
  font-size: 21px;
  text-align: center;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
}
.button-submit:hover {
  color: #ffffff;
  background-color: #669ec0;
}
.button-submit:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}--*/
.main-footer {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.9);
}
.footer-info {
  margin: 0;
  padding: 0;
  width: 240px;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}
.footer-social-list {
  list-style: none;
  width: 400px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.footer-social-button {
  color: #ffffff;
  background-color: #81b3d2;
}
.footer-social-button:hover {
  color: #ffffff;
  background-color: #669ec0;
}
.footer-social-button:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}
.footer-copyright {
  margin: 0;
  padding: 0;
  width: 240px;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}
.footer-button-htmlacademy {
  background-color: #231f20;
}
.footer-button-htmlacademy:hover {
  background-color: #81b3d2;
}
.footer-button-htmlacademy:focus {
  background-color: #bdbbbc;
}

/*-------Каталог--------*/
.catalog-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #fefefe;
}

.filters {
  color: #ffffff;
  background-color: #81b3d2;
}

.filter fieldset {
  border: none;
}

.option-legend {
  font-size: 16px;
  line-height: 21px;
  text-align: left;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.option-list {
  list-style: none;
}

.option-label {
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
}

.field input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0);
}

.field input:-moz-placeholder {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0);
}

.slider {
  position: relative;
  box-sizing: border-box;
  width: 314px;
  height: 32px;
  background-color: rgba(255, 255, 255, 0);
  padding: 11px 20px 9px 20px;
  margin-bottom: 22px;
}

.slider-scale {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: white;
  top: calc(50% - 1px);
}

.slider-scale-selected {
  position: absolute;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  left: 0;
  right: 0;
}

.slider-toggle {
  position: absolute;
  top: -10px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
}

&-min {
  left: 0;
}

&-max {
  right: 0;
}

.filter-button {
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0);
  border: solid 2px #ffffff;
}

.filter-button:hover {
  font: inherit;
  color: #000000;
  background-color: rgb(255, 255, 255);
  border: solid 2px #ffffff;
}

.sorting-result {
  font-size: 21px;
  line-height: 26px;
  text-align: left;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.sorting-item-title {
  font-size: 10.5px;
  line-height: 17.5px;
  text-align: left;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

.sorting-list {
  list-style: none;
}

.sorting-item {
  font-size: 10.5px;
  line-height: 17.5px;
  text-align: left;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}

.sorting-item a {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-item a:hover {
  color: #81b3d2;
  text-decoration: none;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-item a:focus {
  color: #000000;
  text-decoration: none;
}

.sorting-item a:active {
  color: #81b3d2;
  text-decoration: none;
}

.button-dir {
  color: #cacaca;
}

.button-dir:hover {
  color: #231f20;
}

.button-dir:focus {
  color: #81b3d2;
}

.hotel-card-link {
  font-size: 21px;
  line-height: 26px;
  text-align: left;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.hotel-card-link:hover {
  color: #81b3d2;
}

.hotel-card-link:focus {
  color: rgba(0, 0, 0, 0.3)
}

.hotel-card-term {
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
}

.hotel-card-price {
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
}

.hotel-card-btn {
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.hotel-card-btn-more {
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #81b3d2;
}

.hotel-card-btn-more:hover {
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  font-weight: 700;
  color: #ffffff;
  background-color: #669ec0;
}

.hotel-card-btn-more:focus {
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.hotel-card-btn-book {
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #766357;
}

.hotel-card-btn-book:hover {
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  font-weight: 700;
  color: #ffffff;
  background-color: #604e43;
}

.hotel-card-btn-book:focus {
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.hotel-card-value {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
  color: #666666;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

/*-------Сеточные стили--------*/
.catalog-container {
  margin: 0;
  box-sizing: border-box;
  width: 1200px;
  display: flex;
  flex-direction: column;
}

.filters {
  min-width: 1200px;
  min-height: 217px;

}

.filter {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 29px 73px 0 73px;
  background-image: url("../img/filter-background.jpg");
  background-size: 1200px auto;
  background-position: center center;
  background-repeat: no-repeat;
}

.option-infra {
  margin: 0;
  padding: 0;
  width: 240px;
}

.option-housing {
  margin: 0;
  padding: 0;
  width: 288px;
}

.option-range {
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.option-legend {
  margin-bottom: 27px;
}

.option {
  margin-bottom: 30px;
}

.option-legend-range {
  margin-bottom: 10px;
}

.range-fields-input {
  display: flex;
}

.field input {
  width: 160px;
}

.range-fields-input {
  margin-bottom: 20px;
}

.range-slider {
  margin-bottom: 32px;
}

.sorting {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin: 0;
  padding: 0 73px;
}

.sorting-result {
  margin: 0;
  padding: 0;
  margin-bottom: 31px;
  margin-right: 47px;
}

.sorting-item-title {
  margin: 0;
  padding: 0;
  margin-right: 38px;
}

.sorting-list {
  margin: 0;
  padding: 0;
  width: 240px;
  display: flex;
  justify-content: space-between;
}

.dir {
  margin-left: auto;
}

.hotel-card {
  margin: 0;
  padding: 0 73px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 61px;
}

.hotel-card-img {
  order: 1;
  margin-right: 30px;
}

.hotel-card-wrapper {
  order: 2;
}

.hotel-card-rating {
  order: 3;
  margin-left: auto;
}

.hotel-card-list {
  margin: 0;
  padding: 0;
  display: flex;
  margin-bottom: 16px;
}

.hotel-card-title {
  margin: 0;
  padding: 0;
  margin-bottom: 11px;
}

.hotel-card-link {
  margin: 0;
  padding: 0;
}

.hotel-rating-img {
  margin-bottom: 47px;
}

.hotel-card-value {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.inner-page .main-footer {
  margin: 0;
  padding: 0 73px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
}

.inner-page .footer-info {
  margin-bottom: 50px;
}

.inner-page .footer-social-list {
  margin-bottom: 37px;
}

.inner-page .footer-copyright {
  margin-bottom: 40px;
}
